ENVIRONMENT=development
# OPENAI_API_KEY=
# ANTHROPIC_API_KEY=
# ELEVENLABS_API_KEY=
# ELEVENLABS_VOICE_ID=
# Recommended from current account voice inventory:
# ELEVENLABS_VOICE_FEMALE_YOUNG=EXAVITQu4vr4xnSDxMaL
# ELEVENLABS_VOICE_FEMALE_ADULT=hpp4J3VqNfWAUOO0d1Us
# ELEVENLABS_VOICE_FEMALE_SENIOR=pFZP5JQG7iQjIQuC4Bku
# ELEVENLABS_VOICE_MALE_YOUNG=TX3LPaxmHKxFdv7VOQHJ
# ELEVENLABS_VOICE_MALE_ADULT=pNInz6obpgDQGcFmaJgB
# ELEVENLABS_VOICE_MALE_SENIOR=pqHfZKP75CvOlQylNhV4
# ELEVENLABS_VOICE_NEUTRAL_YOUNG=SAz9YHcvj6GT2YYXdXww
# ELEVENLABS_VOICE_NEUTRAL_ADULT=SAz9YHcvj6GT2YYXdXww
# ELEVENLABS_VOICE_NEUTRAL_SENIOR=SAz9YHcvj6GT2YYXdXww
# ELEVENLABS_MODEL_ID=eleven_multilingual_v2
